

.main_body{
    padding-top: 110px;
}

.text_center {
    text-align: center!important;
}
.title_h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.section{
    padding-top: 100px;
}

.small_border {
    width: 100px;
    height: 3px;
    border-top: solid 2px #333333;
    border-left: none;
    border-right: none;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}

/*slider*/
.main_container {
    width: 100%;
    display: flex;
    align-items: stretch;
    min-height: 20vh;
    position: relative;
}

.containLeft {
    flex: 5;
    height: auto;
    background-color: rgb(20 21 45);
    transition: all ease-in-out 0.3s;
}

.containLeft .slider_imageleft {
    height: 100%;
    width: 100%;
    object-fit: cover;
    max-width: 100%;
    border-radius: 5px;
    max-height: 100%;
    transition: all ease-in-out 0.3s;
}

.containRight {
    flex: 7;
    background-color: rgb(248, 248, 248);
    padding: 20px 60px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 70px;
    padding-bottom: 100px;
}

.containRight .buttons{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    gap: 10px;
}

.containRight .buttons .item{
    padding: 10px 15px;
    background-color: transparent;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    border: 2px solid transparent;
    color: var(--primary);
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

.containRight .buttons .item:hover{
    border: 2px solid var(--primary);
    color: var(--primary);
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    scale: 1.02;
}

.containRight .buttons .item.active{
    background-color: var(--primary);
    color: white;
}

.containRight h4{
    font-size: 16px;
    font-family: Inter-Bold;
    color: var(--primary);
}

.containRight h2{
    font-size: 30px;
    font-family: Inter-Bold;
    color: black;
    padding-bottom: 15px;
}

.containRight p{
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1.5px;
    font-family: Inter-Medium;
    color: var(--text-color);
    padding-bottom: 15px;
    text-align: justify;
}

.slider_imageleft{
    max-height: 450px;
    object-fit: contain;
}

/*slider*/

@media(max-width:500px) {
    #navbar {
        width: 100%;
        padding: 5px;
    }

    .right,
    .center {
        display: none;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

}

.numberList .list {
    list-style-type: none;
}

.numberList .list a {
    text-decoration: none;
    color: #000;
}

#navbar {
    display: flex;
    height: 90px;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.centerList {
    display: flex;
    gap: 10px;
}

.rightList {
    display: flex;
    gap: 20px;
}




.numberList .h4 {
    font-size: 12px;
    margin-bottom: 20px;
}

.numberList .h1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: -1px;
}

.numberList p {
    margin-bottom: 20px;
    margin-top: 0;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 1px;
}

.sectionTwo::before{
    content: "";
    position: absolute;
    min-width:300vw;
    min-height:300vw;
    background: url("/backgrounds/stars/2.png"), -webkit-linear-gradient(-90deg, var(--primary-dark),var(--primary),var(--primary-light),var(--primary),var(--primary-dark),var(--secondary-dark),var(--secondary),var(--secondary-light),var(--secondary),var(--secondary-dark));
    background-size: 5%;
    z-index: -1;
    rotate: 20deg;
	animation: rotating 204s linear infinite;
}

@keyframes rotating {
    0%{
        rotate: 0deg;
    }100%{
        rotate: -360deg;
    }
}

.sectionTwo {
    color: #fff;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerNumber {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    min-height: 19vh;
    padding-top: 40px;
    padding-bottom: 40px;
}

.numberList {
    display: flex;
    flex: 6;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
}

.numberList li {
    width: 16%;
}

.numberList li h1 {
    font-size: 40px;
    letter-spacing: 0px;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    line-height: .5em;
}

/*Slider bottom*/

/*Card*/

.teamTitle{
    pad: 12px;
    text-align: center;
    font-size: 40;
    font-weight: 800;
}

.briefbioText{
    font-weight: 300;
    font-size: 14;
    line-height: normal;
}

.cardArea {
    margin: 0 auto;
    display: flex;
    padding: 10px;
    justify-content: center;
    max-width: 1000px;
    gap: 20px;
}

@media screen and (max-width: 600px) {
    .cardArea {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.cardRight {
    width: 300px;
    background-color: rgb(250, 250, 250);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
    cursor: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.cardRight:hover{
    scale: 1.02;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cardLeft {
    flex: 6;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}


figure.snip1192 {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 220px;
    max-width: 310px;
    width: 100%;
    color: #333;
    text-align: left;
    box-shadow: none !important;
}

figure.snip1192 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

figure.snip1192 img {
    max-width: 100%;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-bottom: 15px;
    display: inline-block;
    z-index: 1;
    position: relative;
}

figure.snip1192 p {
    text-align: center;
    margin: 0;
    display: block;
    border-radius: 8px;
    position: relative;
    color: #848484;
    margin-top: 15px;
    margin-bottom: 25px;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
}

figure.snip1192 blockquote:before,
figure.snip1192 blockquote:after {
    font-family: 'FontAwesome';
    content: "\201C";
    position: absolute;
    font-size: 50px;
    opacity: 0.3;
    font-style: normal;
}

figure.snip1192 blockquote:before {
    top: 35px;
    left: 20px;
}

figure.snip1192 blockquote:after {
    content: "\201D";
    right: 20px;
    bottom: 35px;
}

.author {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

figure.snip1192 .author {

    margin: 0;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
}

figure.snip1192 .author .h5 {
    opacity: 0.8;
    margin: 0;
    font-weight: 800;
    color: #000;
    font-size: 1rem;
}

figure.snip1192 .author .h5 .span {
    font-weight: 400;
    text-transform: none;
    display: block;
    color: #46a5e5;
    font-size: 0.9rem;
    margin: 7px;
}

.linkedinArea {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.linkedinArea .a {
    text-decoration: none;
}

/*Card*/
/*Contact*/

.contact_block {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20 auto;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.contact_section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
}

.contact_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media(max-width:500px) {
    .contact_container {
        flex-direction: column;
        width: 100%;
        gap: 0px;
    }
}

.contact_h2 {
    color: #fff;
}

.contact_mainTitle {
    font-size: 36px;
    font-weight: lighter;
    color: #37b048;
    margin-bottom: 60px;
    text-align: center;
}

.contact_containLeft {
    flex: 6;
    background-color: #37B048;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-height: 500px;
}

.contact_containRight {
    flex: 6;
    background-color: #2B8938;
    padding: 20px;
}
.contact_block .contact_mainTitle{
    color: #37B048;
}
.contact_input,
.contact_text {
    padding: 15px;
    outline: none;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
    border: none;
}

.contact_container .contact_a {
    width: 100px;
    background: transparent;
    font-weight: bold;
    color: black;
    border: 2px solid white;
    border-radius: 1px;
    cursor: pointer;
    padding: 15px;
    margin: 10px 5px;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 30px;
}
.contact_one .case_form_one__field .contact_text {
  height: 115px;
}
.contact_one__form {
  margin-bottom: 50px;
}
.contact_one__info {
  margin-bottom: 50px;
}
.contact_one__info .block_title__text_two {
  font-size: 14px;
  line-height: 24px;
  color: #666666;
  font-style: normal;
  font-weight: 300;
}
.contact_one__info_single + .contact_one__info_single {
  margin-top: 30px;
}
.contact_one__info_title {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 10px;
}
.contact_one__info_text {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  color: #666666;
  letter-spacing: .025em;
}
.contact_one__info_text .contact_strong {
  margin-left: 10px;
}
.contact_one__info_text .contact_a {
  color: inherit;
}
.contact_one__info_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact_one__info_social .contact_a {
  font-size: 20px;
  color: #666666;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.contact_one__info_social .contact_a:hover {
  color: #e0a965;
}
.contact_one__info_social .contact_a + .contact_a {
  margin-left: 30px;
}
@media (min-width: 992px) {
  .contact_one__form {
    padding-right: 70px;
  }
}

.col_lg_5 {
    flex: 0 0 auto;
    width: 41.66666667%;
}

.line{
    width: 40%;
    height: 3px;
    background: -webkit-linear-gradient(-30deg,  var(--primary-dark), var(--primary), var(--primary-light), var(--primary), var(--primary-dark),var(--secondary-dark), var(--secondary), var(--secondary-light), var(--secondary), var(--secondary-dark));
	animation: title_color 40s ease-in-out infinite;
	background-size: 400% 400%;
    border-radius: 10px;
    margin-bottom: 40px;
    margin-top: 10px;
}


.h3{
    font-size: 50px;
    line-height: 60px;
    font-family: Inter-Bold;
    background: -webkit-linear-gradient(-30deg,  var(--primary-dark), var(--primary), var(--primary-light), var(--primary), var(--primary-dark),var(--secondary-dark), var(--secondary), var(--secondary-light), var(--secondary), var(--secondary-dark));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	animation: title_color 40s ease-in-out infinite;
	background-size: 400% 400%;
    width: 100%;
    gap: 10px;
    width: 100%;
    text-align: center;
}




@keyframes title_color {
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 0% 0%;
	}
}

/*Contact*/

/*RESPONSİVE*/

@media(max-width: 992px){
    .main_container{
        flex-direction: column-reverse;
    }

    .containRight{
        padding: 20px;
    }

    .containRight .buttons{
        flex-direction: row;
        justify-content: center;
    }

    .containRight h4,
    .containRight h2,
    .containRight p{
        width: 100%;
        text-align: center;
    }
    .containerNumber{
        min-height: 19vh;
    }
    .numberList{
        flex-wrap: wrap;
    }
    .numberList .list{
        min-width: 120px;
    }

    .main_body{
        padding-top: 100px;
    }

}
/*RESPONSİVE*/