.section{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
.left{
    flex: 3;
    padding: 60px;
    gap: 20px;
    display: flex;
    margin-left: 80px;
    flex-direction: column;
}
.top{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}
.blog_image img{
    border-radius: 5px;
}
.blog_info{
    width: 100%;
    /* max-height: 50px; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}
.blog_info img{
    width: 17px;
    height: auto;
}
.info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 3px;
}
.info p{
    font-size: 16px;
    font-family: Inter-ExtraLight;
}
.description{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
}
.des_top p{
    font-family: Inter-ExtraLight;
}
.des_mid{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 35px;
}
.des_mid img{
    max-width: 70px;
    object-fit: contain;
    margin-top: 7px;
}
.des_mid .p{
    font-weight: 700;
    font-size: 22px;
}

.des_bot p{
    font-family: Inter-ExtraLight;
}

.mid{
    border-bottom: 1px solid rgb(162, 162, 162);
}

.mid .title{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
}
.mid .text{
    font-size: 16px;
    font-family: Inter-ExtraLight;
    margin-bottom: 30px;
}
.images{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 35px;
    gap: 15px;
}
.images img{
    flex: 1;
    min-width: 400px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 100px;
    margin-bottom: 30px;
}
.col{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}
.col .list_item{
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    justify-content: center;
}
.list_item p{
    font-family: Inter-ExtraLight;
}
.col .list_item img{
    width: 15px;
    height: 15px;
    margin-bottom: 1px;
}
.comments{
    width: 100%;
    padding: 12px;
}
.comments h1{
    font-size: 28px;
    font-weight: 800;
}
.card{
    width: 100%;
    margin-top: 25px;
    border-radius: 10px;
    padding: 20px;
    background: rgb(240, 240, 240);
}
.card_top{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30PX;
}
.card_left{
    flex: 1;
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}
.card_left .photo{
    border-radius: 5px;
    padding: 5px;
    overflow: hidden;
    width: 70px;
    height: 70px;
}
.card_left img{
    width: 60px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    user-select: none;
    vertical-align: middle;
}
.author_info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.author_info .user p{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 2px;
}
.author_info .date p{
    font-size: 14px;
    margin-right: 25px;
    font-family: Inter-ExtraLight;
}
.card_right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}
.card_right img{
    width: 17px;
    height: 17px;
}
.card_right p{
    font-size: 18px;
}
.card_bottom{
    flex: 3;
    margin-bottom: 40px;
}
.card_bottom p{
    font-family: Inter-ExtraLight;
}


.right{
    flex: 1;
    padding: 60px 100px 60px 60px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.categories{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid rgb(220, 220, 220);
    margin-bottom: 30px;
}
.categories .category_title{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.category_title p{
    font-size: 22px;
    font-weight: 700;
}
.category_title .img{
    width: 20px;
}
.category{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-bottom: 10px;
}
.category .check_box{
    max-width: 15px;
}
.category_text{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.category_text p{
    font-family: Inter-ExtraLight;
}

.other_blogs{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(220, 220, 220);
}

.other_blogs .other_blogs_title{
    font-size: 22px;
    font-weight: 700;
}
.blog_card{
    width: 100%;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
}
.blog_card_left{
    flex: 2;
    max-width: 120px;
    max-height: 140px;
    border-radius: 10px;
}
.blog_card_left img{
    border-radius: 10px;
    width: 100%;
}
.blog_card_right{
    flex: 3;
}
.name{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
}
.name p{
    font-family: Inter-Extralight;
    font-size: 14px;
}
.name img{
    width: 15px;
    height: 15px;
}
.blog_title p{
    font-size: 16px;
    font-weight: 800;
}
.blog_date p{
    font-family: Inter-ExtraLight;
    font-size: 14px;
}
.tags{
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
}
.tags .tags_title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    background-color: #f6f6f6;
    transition: all ease-in-out 0.4s;
    border-radius: 3px;
}
.tags_title:hover{
    outline: 0;
    text-decoration: none;
}
.tags_title p{
    font-size: 14px;
    color: 1f1d0d;
    font-family: Inter-ExtraLight;
}
/*MEDİA*/
@media (max-width: 992px){
    .left{
        margin: 0;
    }
    .section{
        flex-direction: column;
    }
    .left{
        padding: 60px 20px;
    }
    .des_mid img{
        display: none;
    }
    .row{
        flex-direction: column;
        gap: 20px;
    }
    .images{
        flex-wrap: wrap;
    }
    .right{
        padding: 60px;
    }
}