.section{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}
.left{
    flex: 2;
    padding: 60px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}
.right{
    flex: 1;
}
.top{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}
.blog_image img{
    border-radius: 5px;
}
.blog_info{
    width: 100%;
    /* max-height: 50px; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}
.blog_info img{
    width: 17px;
    height: auto;
}
.info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 3px;
}
.info p{
    font-size: 16px;
    font-family: Inter-ExtraLight;
}
.description{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
}
.des_top p{
    font-family: Inter-ExtraLight;
}
.des_mid{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 35px;
}
.des_mid img{
    max-width: 70px;
    object-fit: contain;
    margin-top: 7px;
}
.des_mid .p{
    font-weight: 700;
    font-size: 22px;
}

.des_bot p{
    font-family: Inter-ExtraLight;
}

.mid{
    border-bottom: 1px solid rgb(162, 162, 162);
}

.mid .title{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
}
.mid .text{
    font-size: 16px;
    font-family: Inter-ExtraLight;
    margin-bottom: 30px;
}
.images{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 35px;
    flex-wrap: wrap;
    gap: 15px;
}
.images img{
    width: 400px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}
.col{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}
.col .list_item{
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    justify-content: center;
}
.list_item p{
    font-family: Inter-ExtraLight;
}
.col .list_item img{
    width: 15px;
    height: 15px;
    margin-bottom: 1px;
}
.comments{
    width: 100%;
    padding: 12px;
}
.comments h1{
    font-size: 28px;
    font-weight: 800;
}
.card{
    width: 100%;
    margin-top: 25px;
    border-radius: 10px;
    padding: 20px;
    background: rgb(240, 240, 240);
}
.card_top{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30PX;
}
.card_left{
    flex: 1;
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}
.card_left .photo{
    border-radius: 5px;
    padding: 5px;
    overflow: hidden;
    width: 70px;
    height: 70px;
}
.card_left img{
    width: 60px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    user-select: none;
    vertical-align: middle;
}
.author_info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.author_info .user p{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 2px;
}
.author_info .date p{
    font-size: 14px;
    margin-right: 25px;
    font-family: Inter-ExtraLight;
}
.card_right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}
.card_right img{
    width: 17px;
    height: 17px;
}
.card_right p{
    font-size: 18px;
}
.card_bottom{
    flex: 3;
    margin-bottom: 40px;
}
.card_bottom p{
    font-family: Inter-ExtraLight;
}

@media (max-width: 992px){
    .left{
        margin: 0;
    }
    .section{
        flex-direction: column;
    }
    .left{
        padding: 60px 20px;
    }
    .des_mid img{
        display: none;
    }
}