/*TIMELINE*/
.timeline_section{
    width: 100%;
    padding: 50px 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 100px;
}

.timeline_section h3{
    font-size: 60px;
    font-family: Inter-Bold;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    background: -webkit-linear-gradient(-60deg,  #614ca1, #573778, #7c42ae );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(2);
}

.timeline{
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
}

.timeline .date_item{
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: 2fr 1fr 2fr;
    justify-items: center;
    align-items: center;
    position: relative;
}

.timeline .date_item:hover{
    cursor: pointer;
}

.timeline .date_item .events{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}

.timeline .date_item:nth-child(4n-1) .events{
    align-items: flex-start;
}

.timeline .date_item .events .event_item{
    font-size: 16px;
    margin-bottom: 2px;
    font-family: Inter-Medium;
    color: rgb(250, 250, 250);
    letter-spacing: -0.2px;
}

.timeline .date_item:hover .events .event_item{
    font-family: Inter-Bold;
    color: rgb(255,255,255);
}

.timeline .date_item .month::before{
    content: "";
    background: -webkit-linear-gradient(30deg, #a065d3 , #793cb6  , #442a95 100%);
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
}

.timeline .date_item .month{
    width: 100px !important;
    height: 100px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 100%;
    position: relative;
    color: white;
    font-size: 20px;
    font-family: Inter-Bold ;
    line-height: 22px;
    overflow: hidden;
}

.timeline .date_item:hover .month::before{
	animation: rotating 2s linear infinite;
    scale: 1.02;
}

.timeline .date_item:first-child .month::before{
	background: -webkit-linear-gradient(30deg, #854bb8 , #4f1a83  , rgb(74, 57, 126));
}

.timeline .line{
    width: 2px;
    height: 60px;
    border: 3px dashed #4f1a83;
}

@media screen and (max-width: 700px) {
    .timeline .date_item{
        width: 100%;
        display: flex;
        gap: 20px;
        justify-items: center;
        align-items: center;
        position: relative;
    }

    .timeline .date_item:nth-child(4n-1){
        flex-direction: row-reverse;
    }

    .timeline .date_item .events{
        align-items: flex-end !important;
        flex: 1;
    }

    .timeline .date_item:nth-child(4n+1) .events:last-child{
        display: none;
    }

    .timeline .date_item:nth-child(4n-1) .events:first-child{
        display: none;
    }
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main section{
    max-width: 1200px;
}

.banner{
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 5px;
}

.banner > div{
    flex:1;
}

.first_banner{
    margin-bottom: 200px;
    transform: translateX(-5vw);
    min-height: 500px;
}

.first_banner .content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
}

.first_banner .content h1{
    font-size: 70px;
    font-family: Inter-Bold;
    letter-spacing: -6px;
    background: -webkit-linear-gradient(-30deg,  #2d1a64, #5c2d8c, #8753b4 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	background-size: 100% 100%;
    width: 100%;
    gap: 10px;
}

.first_banner .content .title{
    display: flex;
    gap: 5px;
    position: relative;
}

.first_banner .content .title .icon{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.first_banner .content p{
    font-size: 19px;
    line-height: 23px;
    letter-spacing: -0.5px;
    background: -webkit-linear-gradient(-60deg,  #46357a, #533176, #5b3b78 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	background-size: 100% 100%;
    padding-bottom: 50px;
}

.first_banner .content .buttons{
    width: 100%;
    display: flex;
    flex-direction: flex-start;
    align-items: center;
    padding-top: 10px;
}

.first_banner .content .buttons a{
    padding: 10px 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    background:-webkit-linear-gradient(-60deg,  #2d1a64, #4f1a83, #854bb8 );
    color: white;
    transition: all ease-in-out 0.2s;
}

.first_banner .content .buttons a:hover{
    padding: 10px 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    background:-webkit-linear-gradient(-50deg,  #4f1a83, #854bb8 );
    color: white;
}

.first_banner .image_container{
    flex:1;
    display: flex;
    position: relative;
}

.first_banner .image_container img{
    width: 70vw;
    max-width: 1000px;
    height: auto;
    position: absolute;
    left: -5%;
    object-position: left;
}

.about_banner::before{
    content: "";
    position: absolute;
    min-width: 500%;
    min-height: 500%;
    background: url("/backgrounds/stars/2.png"), -webkit-linear-gradient(-90deg, #000F29, #000F29, #153159, #12476c,  #000F29);
    background-size: 5%;
    z-index: -1;
    rotate: 20deg;
	animation: rotating 240s linear infinite;
}

@keyframes rotating {
    0%{
        rotate: 0deg;
    }100%{
        rotate: -360deg;
    }
}

.about_banner{
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    overflow: hidden;
}

.about_banner .image_container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_banner .image_container img{
    width: 100vw;
    max-width: 1300px;
    height: auto;
    position: absolute;
    left: -80%;
}

.about_banner .content{
    margin-bottom: 100px;
    background: -webkit-linear-gradient(-60deg,  #ffffff, #eee, #ddd );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	background-size: 100% 100%;

}

.about_banner .content .info_title{
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 10px;
    background:  #000F29;
    -webkit-text-fill-color: white;
    width: fit-content;
    z-index: 1;
}

.content h2{
    font-size: 50px;
    font-family: Inter-Bold;
}

.about_banner .content p{
    font-size: 20px;
    line-height: 24px;
    padding-right: 20px;
}

.mission_banner svg{
    width: 100px;
    height: auto;
}

.bg::before{
    content: "";
    position: absolute;
    width: 1000%;
    height: 1000%;
    background: url("/backgrounds/stars/2.png"), -webkit-linear-gradient(90deg, #c698ef , #8047ba  , #150939 50%);
    background-size: 2%;
    z-index: -1;
    rotate: 20deg;
	animation: rotating 360s linear infinite;
}

.bg{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
}

.mission_banner {
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 30px 30px;
    overflow: hidden;
    max-height: 1000px;    
}

.mission_banner .image_container{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.mission_banner .image_container svg{
    width: 1200px;
    height: auto;
    position: absolute;
    right: -500px;
    top: -55%;
}

.mission_banner .content{
    color: white;
    padding-left: 30px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mission_banner .content .info_title{
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 10px;
    background:  #2d1a64;
    -webkit-text-fill-color: white;
    width: fit-content;
    z-index: 1;
    filter: brightness(2);
    margin-bottom: 10px;
}

.mission_banner .content .buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.mission_banner .content .buttons button{
    padding: 10px 15px;
    border-radius: 10px;
    background:  -webkit-linear-gradient(30deg, #381957  , #2f1e64 50%);
    box-shadow: rgba(255, 255, 255, 0.3) 2.4px 2.4px 3.2px;;
}

.mission_banner .content .buttons button:hover,
.mission_banner .content .buttons button.active{
    filter:brightness(2)
}


/*PRİZES*/
.prizes{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 150px;
    gap: 30px;
    position: relative;
    overflow: hidden;
}
.prizes h2{
    font-size: 70px;
    font-family: Inter-Bold;
    background: -webkit-linear-gradient(-60deg,  #614ca1, #573778, #7c42ae );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(2);
    letter-spacing: -2px;
    margin-bottom: 0px;
}

.prizes .line{
    width: 30%;
    height: 6px;
    border-radius: 5px;
    background: -webkit-linear-gradient(-60deg,  #7f67c8, #6e4895, #7744a3 );
    margin-bottom: 50px;
}

.prizes .prize{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
}



.prize .item::before{
    content: "";
    background: url("/backgrounds/stars/17.png"),radial-gradient(circle at center, #53267a,#652f9c, #3e2882);
    width: 200%;
    height: 200%;
    background-size: 100%;
    z-index: -1;
    position: absolute;
	animation: rotating 120s linear infinite;
}

.prize .item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    border: 3px solid #3e2882;
    border-radius: 100%;
    width: 250px;
    height: 250px;
    padding: 10px;
}
.prize .item .price{
    font-size: 22px;
    font-weight: 700;
    color: white;
    font-family: Inter-Bold;
}
.item p{
    font-size: 18px;
    font-family: Inter-ExtraLight;
    color: white;
}
.prize .item img{
    width: 100px;
}
/*PRİZES*/

/*JUDGES*/
.judge{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 28px;
    padding-top: 50px;
    gap: 16px;
}
.judge .title h2{
    font-size: 70px;
    font-family: Inter-Bold;
    background: -webkit-linear-gradient(-60deg,  #614ca1, #573778, #7c42ae );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(2);
    letter-spacing: -2px;
    margin-bottom: 0px;
}

.judge .line{
    width: 30%;
    height: 6px;
    border-radius: 5px;
    background: -webkit-linear-gradient(-60deg,  #7f67c8, #6e4895, #7744a3 );
    margin-bottom: 50px;
}
.judge .wrapper{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
}

.cardRight {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.cardLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}


figure.snip1192 {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 220px;
    max-width: 310px;
    width: 100%;
    color: #333;
    text-align: left;
    box-shadow: none !important;
}

figure.snip1192 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

figure.snip1192 img {
    max-width: 100%;
    height: 85px;
    width: 85px;
    border-radius: 50%;
    margin-bottom: 15px;
    display: inline-flex;
    z-index: 1;
    position: relative;
}

figure.snip1192 h2 {
    text-align: center;
    margin: 0;
    display: block;
    border-radius: 8px;
    position: relative;
    color: #848484;
    margin-top: 15px;
    margin-bottom: 25px;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
}

figure.snip1192 blockquote:before,
figure.snip1192 blockquote:after {
    font-family: 'FontAwesome';
    content: "\201C";
    position: absolute;
    font-size: 50px;
    opacity: 0.3;
    font-style: normal;
}

figure.snip1192 blockquote:before {
    top: 35px;
    left: 20px;
}

figure.snip1192 blockquote:after {
    content: "\201D";
    right: 20px;
    bottom: 35px;
}

.author {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

figure.snip1192 .author {

    margin: 0;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
}

figure.snip1192 .author .h5 {
    opacity: 0.8;
    margin: 0;
    font-weight: 800;
    color: #fff;
    font-size: 1rem;
}
figure.snip1192 .author .p {
    opacity: 0.8;
    margin: 0;
    color: #fff;
    font-size: 12px;
    border-radius: none;
    border-bottom: 0.5px solid white;
}
figure.snip1192 .author .uni {
    opacity: 0.8;
    margin: 0;
    color: #fff;
    font-size: 12px;
    border-radius: none;
}

figure.snip1192 .author .status {
    opacity: 0.8;
    margin: 0;
    font-family: Inter-ExtraLight;
    color: #fff;
    font-size: 12px;
    border-radius: none;
}

figure.snip1192 .author .h5 .span {
    font-weight: 400;
    text-transform: none;
    display: block;
    color: #46a5e5;
    font-size: 0.9rem;
    margin: 7px;
}

.linkedinArea {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.linkedinArea .a {
    text-decoration: none;
}

/*JUDGES*/

@media screen and (min-width: 1600px) {
    .about_banner{
        padding: 50px 300px;
    }

    .mission_banner{
        padding: 30px 300px;
    }

    .mission_banner .image_container{
        flex: 0.6;
    }
}


@media screen and (max-width: 1400px) {
    .first_banner .image_container img{
        left: -50px;
    }

    .first_banner{
        transform: translateX(-0px);
    }

    .about_banner .image_container img{
        left: -80%;
    }
}

@media screen and (max-width: 1200px) {
    
    .about_banner .image_container img{
        max-width: 1000px;
    }
}

@media screen and (max-width: 1100px) {
    .first_banner .image_container img{
        left: 0px;
    }

    .first_banner{
        transform: translateX(-0px);
    }
    
    .about_banner .image_container img{
        left: -80%;
    }
}

@media screen and (max-width: 1000px) {
    .first_banner .image_container{
        left: -5%;
        flex: 0.5
    }

    .first_banner{
        transform: translateX(-0px);
    }
}

@media screen and (max-width: 850px) {
    .first_banner {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 60px;
        margin-top: 20px;
    }

    .first_banner .image_container{
        left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .first_banner .image_container img{
        position: relative;
        width: 220%;
        max-width: none;
    }

    .first_banner{
        transform: translateX(-0px);
    }

    .first_banner .content h1{
        font-size: 40px;
        font-family: Inter-Bold;
        letter-spacing: -1px;
        width: 100%;
        text-align: center;
    }

    .first_banner .content p{
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.3px;
        text-align: center;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    .first_banner .content .buttons{
        justify-content: center;
    }

    .main{
        padding: 0px 0%;
    }

    .about_banner{
        flex-direction: column-reverse;
        padding: 50px 20px;
    }

    .about_banner .image_container {
        width: 100%;
        height: 200px;
        flex: none;
        
    }

    .about_banner .image_container img{
        position: relative;
        width: 200vw;
        left: 0px;
    }

    .mission_banner .image_container {
        width: 100%;
        height: 400px;
        flex: none;
        display: none !important;
    }

    .mission_banner .image_container svg{
        position: absolute;
        width: 170vw;
        left: -0px;
        top: -100px;
        display: none !important;
    }

    .mission_banner .content{
        padding: 0px;
    }

    .mission_banner{
        flex-direction: column-reverse;
        padding: 50px 20px;
    }

    .content h2{
        font-size: 30px;
        margin-bottom: 20px;
    }

    .content p{
        font-size: 16px;
        line-height: 20px;
    }

    .first_banner{
        margin-bottom: 20px;
    }

    .prize{
        flex-direction: column !important;
        gap: 20px !important;
    }



    .prize .item:nth-child(1){
        order: 2;
    }

    .prize .item:nth-child(2){
        order: 1;
    }

    .prize .item:nth-child(3){
        order: 3;
    }

    .bg::before{
        background-size: 0.6%;
    }



    .judge .title{
        width: 100%;
        text-align: center;
    }

    .judge .wrapper{
        flex-direction: column !important;
    }
}