.site_header{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: fixed;
    top: 0px;
    z-index: 10000;
    background-color: white;
    width: 100vw;
}
.header_top {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.9px solid;
    border-color: rgba(201, 201, 201, 0.689);
}

.header_top_left {
    width: 100%;
    height: 100%;
    flex: 2;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-left: 200px;
}

.header_top_left .whatsapp {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.whatsapp p {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 20px; */
    font-size: 16px;
    font-weight: 600;
}

.header_top-_left .whatsapp .whatsapp_logo {
    height: 23px;
    width: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
}

.header_top_left {
    width: 100%;
    height: 100%;
    flex: 2;
    margin-left: 20px;
}

.header_top_left .email {
    display: flex;
    flex-direction: row;
    gap: 5px;
    display: flex;
    flex-direction: row;
}

.email p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    gap: 8px;
    font-weight: 600;
    /* margin-top: 20px; */
}

.header_top_left .email .email_logo {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.header_top_right {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.header_top_right .languages {
    width: 60%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 12px;
    border-right: 1px solid;
    border-color: rgba(201, 201, 201, 0.689);
}

.header_top_right .languages img {
    height: 23px;
    width: 35px;
    object-fit: cover;
}

.header_top_right .social_media {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 12px;
}

.header_top_right .social_media img {
    height: 27px;
    width: auto;
}

.header_container {
    width: 100%;
    height: 70px;
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
}
.header_container .toggle_btn{
    color: #000;
    font-size: 1.8rem;
    cursor: pointer;
    margin-right: 40px;
    margin-top: 20px;
    display: none;
}

.header_left {
    width: 100px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_logo {
    width: 170px;
    height: auto;
    margin-bottom: 45px;
}

.header_logo img {
    width: 100%;
}

.header_right {
    height: 30px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex: 2;
    justify-content: center;
    align-items: center;
}

.header_right a {
    text-decoration: none;
    color: rgb(77, 77, 77);
    font-weight: 300;
}

.button {
    text-decoration: none;
    background-color: var(--primary);
    font-weight: 300;
    padding: 10px 15px;
    color: white !important;
    border-radius: 10px;
}
.button:hover{
    filter:brightness(0.8)
}
/*MOBİLE MENU*/
.mobile_menu{
    z-index: 10000;
    display: none;
    position: absolute;
    right: 2rem;
    top: 65px;
    height: 0;
    flex-direction: column;
    width: 200px;
    background: rgba(255, 255, 255, 0.1);
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.mobile_menu.open{
    min-height: 240px;
    height: auto;
}
.mobile_menu .mobile_languages{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobile_menu .mobile_languages .img{
    width: 35px;
    height: 35px;
    border-radius: 5px;
}
.mobile_menu .mobile_li{
    padding: 0.7rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*MOBİLE MENU*/
/*RESPONSİVE*/
@media(max-width: 992px){
    .header_top,
    .header_container .header_right{
        display: none;
    }

    .header_container{
        margin-top: 0px;
        padding: 10px;
        min-height: 100px;
    }
    .header_container .toggle_btn{
        display: block;
    }
    .header_logo{
        margin-bottom: 0px;
        width: auto;
        height: 100%;
        margin-right: 150px;
    }

    .header_logo img{
        width: auto;
        height: 100%;
    }
    .mobile_menu{
        display: block;
    }
}
@media(max-width: 572px){
    .mobile_menu{
        left: 2rem;
        width: unset;
    }
}
/*RESPONSİVE*/
