.wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px 50px;
}

.section{
    max-width: 1100px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px 0px;
}

.title_1{
    font-size: 50px;
    font-family: Inter-Bold;
    color: rgb(50, 50, 50);
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}

.title_2{
    font-size: 30px;
    font-family: Inter-Bold;
    color: rgb(50, 50, 50);
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    color: var(--primary);
}

.title_3{
    font-size: 26px;
    font-family: Inter-Bold;
    color: rgb(50, 50, 50);
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    color: var(--primary);
}

.description{
    font-size: 18px;
    letter-spacing: -0.5px;
    text-align: justify;
    color: var(--text-color);
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.card{
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(22 163 74);
    position: relative;
    overflow: hidden;
    z-index: 10;
    min-width: 200px;
}

.card::after{
    content: "";
    position: absolute;
    top: -50px;
    right: -10px;
    width: 100px;
    height: 100px;
    background-color: rgb(74,222,128);
    z-index: 11;
    border-radius: 100%;
}

.card .name{
    font-size: 24px;
    font-family: Inter-Bold;
    letter-spacing: -1px;
    color: white;
    margin-bottom: 10px;
    z-index: 12;
    position: relative;
}

.card .info{
    font-size: 14px;
    letter-spacing: -0.2px;
    color: rgb(240, 240, 240);
    margin-bottom: 10px;
    line-height: 15px;
    margin-bottom: 20px;
}

.card .card_title{
    font-size: 20px;
    letter-spacing: -0.5px;
    font-family: Inter-Bold;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    line-height: 20px;
}

.card .buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .buttons .button{
    background-color: var(--primary-dark) !important;
}

.card .buttons .button:hover{
    filter: brightness(0.8);
}

.list{
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 20px;
    min-height: 150px;
}

.list .item{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row !important;
    gap: 10px;
}

.list .item .icon{
    width: 7.5px !important;
    height: 7.5px !important;
    fill: rgb(117, 245, 164);
    stroke: rgb(74,222,128);
    padding-top: 2px;
}

.list .item .icon svg{
    width: 7.5px !important;
    height: 7.5px !important;
}

.list .item .text{
    font-size: 14px;
    letter-spacing: -0.2px;
    color: rgb(240, 240, 240);
    margin-bottom: 7.5px;
    line-height: 15px;
    margin-bottom: 10px;
}

.card .card_number{
    font-size: 30px;
    text-align: center;
    letter-spacing: -1px;
    color: white;
    font-family: Inter-Bold;
    width: 100%;
    float: bottom;
}

.center_button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.button{
    background-color: var(--primary);
    padding: 10px 15px;
    font-size: 18px;
    font-family: Inter-Bold;
    color: white;
    border-radius: 10px;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.button:hover{
    background-color: var(--primary-dark);
}

.button:after{
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: -7px;
    right: -7px;
    background-color: var(--primary);
    border-radius: 100%;
}

.gallery{
    width: 100%;
    display: grid;
    gap: 10px;
}

.gallery_image{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    position: relative;
}

.gallery_image img{
    width: auto;
    height: 100%;
    filter: drop-shadow(0px 0px 1px black);
}

.akademik_birlikler{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 50px 10px;
}

.item{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.item .profile{
    width: 180px;
    height: 180px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

.item .profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 100%;
}

.item .info{
    width: 90%;
    /* background-color: var(--primary); */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
    margin-top: 10px;
}

.item .info .name{
    font-size: 20px;
    text-align: center;
    width: 100%;
    /* color: white; */
    font-family: Inter-Bold;
}

.item .info .university{
    /* font-size: 14px; */
    color: var(--text-color);
    text-align: center;
}

.item .info .links{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

.item .info .links svg{
    width: 20px;
    height: 20px;
}

@media screen and (max-width:950px) {
    .wrapper{
        padding: 10px 20px;
    }

    .akademik_birlikler{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width:800) {
    .akademik_birlikler{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:650px) {
    .gallery{
        grid-template-columns: 1fr !important;
    }
    .akademik_birlikler{
        grid-template-columns: 1fr;
    }
}